extends layout

append header
	a(href='/register', class='button') Join group

block content
	form(action='/group', method='post')
		input(type='text', name='name', id='name', placeholder='Group name')
		input(type='password', name='password', id='password', placeholder='Group password')
		input(type='password', name='password2', id='password2', placeholder='Repeat password')
		button(type='submit', class='button button-block') Submit
