extends layout

block content
  div(data-ng-controller='ShoppingListCtrl', class='waiting-for-angular')
    ng-suggest
      input(type='text', data-ng-model='newItem.text', placeholder='New item', autofocus)
      ul(class='list suggestions')
        li(data-ng-repeat='suggestion in suggestions')
          a(data-ng-click='acceptSuggestion(suggesion)') {{suggestion}}
            span(class='chevron')

    a(class='button button-block', data-ng-click='addItem()', data-ng-show='newItem.text') Add
    ul(class='list')
      li(data-ng-repeat='item in list.items | filter:{isDeleted:false}')
        a(data-ng-click='deleteItem(item)') {{item.text}}
          span(class='chevron')

block dialogs
  div(class='auth-form waiting-for-angular')
  div(class='ng-confirm waiting-for-angular')
