extends layout

block content
  div(data-ng-controller='ShoppingListCtrl', class='ng-cloak')
    form(data-ng-submit='addItem()')
      ng-suggest
        div(class='columns')
          input(type='text', style='width:65%', data-ng-model='newItem.text', placeholder='Write here', autofocus)
          button(class='button', style='padding:10px; width:33%; margin-left:2%;', data-ng-click='newItem.text') Add
        ul(class='list suggestions', data-ng-show='list.suggestions.length')
          li(data-ng-repeat='suggestion in suggestions')
            a(data-ng-click='acceptSuggestion(suggesion)') {{suggestion}}
              span(class='chevron')
    ul(class='list')
      li(data-ng-repeat='item in list.items | filter:deletionFilter')
        a(data-ng-click='deleteItem(item)') {{item.text}}
          span(class='chevron')
    button(data-ng-click='getLatest()', class='button button-block') Catch up!
    div(class='feedback') online? {{isOnline && 'yes' || 'no'}} {{feedback}}
      div
        a(data-ng-click='flushAppCache()', href='') Flush cache

block dialogs
  div(class='auth-form ng-cloak')
  div(class='ng-confirm ng-cloak')
