doctype 5
html(lang='en', manifest='app.cache')
  head
    meta(charset='utf-8')
    title= title

    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/ratchet.css')
    script(src='js/lib/requirejs/require.min.js', data-main='js/main.js')
  body
    header(class='bar-title')
      block header
        h1(class='title')= title
    footer(class='bar-footer')
      block footer
    div(class='content', role='main')
      div(class='content-padded')
        block content
    block dialogs

