doctype 5
html(lang='en', data-ng-app='shoppingApp')
	head
		meta(charset='utf-8')
		title= title

		meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
		link(rel='stylesheet', href='css/style.css')
		link(rel='stylesheet', href='css/ratchet.css')
	body
		header(class='bar-title')
			block header
				h1(class='title')= title
		footer(class='bar-footer')
			block footer
		div(class='content', role='main')
			div(class='content-padded')
				block content
		script(src='js/lib/angular-1.0.5.js')
		script(src='js/lib/jquery-1.9.1.js')
		//script(src='js/ratchet.js')
		script(src='js/main.js')
		script(src='js/services.js')
		script(src='js/controllers.js')
		script(src='js/filters.js')
		script(src='js/directives.js')

