extends layout

prepend header
	a(href='/register', class='button') Register

block content
	form(action='/login', method='post')
		input(type='text', name='userName', placeholder='Username', autofocus)
		input(type='password', name='password', placeholder='Password')
		button(type='submit', class='button button-block') Log in
