extends layout

prepend header
	a(href='/group', class='button') Create group

append header
	a(href='/login', class='button') Log in

block content
	form(action='/register', method='post')
		input(class='', type='text', name='userName', id='userName', placeholder='Username'))
		input(type='password', name='password', id='password', placeholder='Password')
		input(type='password', name='password2', id='password2', placeholder='Repeat password')
		label Select shopping group
			select(name='selectedGroup')
				each group in groups
					option(value=group._id) #{group.name}
		input(type='password', name='groupPassword', id='groupPassword', placeholder='Group password')
		button(type='submit', class='button button-block') Submit
