body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.list li:hover {
    cursor: pointer;
}

button.button {
    width: 100%;
}

.modal-dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    z-index: 10;
}

.ng-cloak {
  display:none;
}

.feedback {
  color: slategray;
  font-size: .7em;
}