body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.delete-icon:hover {
    cursor: pointer;
    /*background-color: orange;*/
}

button.button {
    width: 100%;
}